Practica 2 - BPEL/Almacen/resources/gestionAlmacen.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="gestionAlmacen" targetNamespace="http://www.example.org/gestionAlmacen/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/gestionAlmacen/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/gestionAlmacen/">
      <xsd:element name="ComprobarStock">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="nUnidades" type="xsd:int"/>
          	<xsd:element name="refProd" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ComprobarStockResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="existe" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarStock">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="nUnidades" type="xsd:int"/>
      			<xsd:element name="refProd" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarStockResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="valido" type="xsd:boolean"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ComprobarStockResponse">
    <wsdl:part name="parameters" element="tns:ComprobarStockResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ComprobarStockRequest">
    <wsdl:part name="parameters" element="tns:ComprobarStock">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActualizarStockResponse">
    <wsdl:part name="parameters" element="tns:ActualizarStockResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActualizarStockRequest">
    <wsdl:part name="parameters" element="tns:ActualizarStock">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="gestionAlmacen">
    <wsdl:operation name="ComprobarStock">
      <wsdl:input message="tns:ComprobarStockRequest">
    </wsdl:input>
      <wsdl:output message="tns:ComprobarStockResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarStock">
      <wsdl:input message="tns:ActualizarStockRequest">
    </wsdl:input>
      <wsdl:output message="tns:ActualizarStockResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="gestionAlmacenSOAP" type="tns:gestionAlmacen">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ComprobarStock">
      <soap:operation soapAction="http://www.example.org/gestionAlmacen/ComprobarStock"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarStock">
      <soap:operation soapAction="http://www.example.org/gestionAlmacen/ActualizarStock"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="gestionAlmacen">
    <wsdl:port name="gestionAlmacenSOAP" binding="tns:gestionAlmacenSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
