Practica 2 - BPEL/proveedor1/WebContent/wsdl/proveedor1SOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/proveedor1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="proveedor1" targetNamespace="http://www.example.org/proveedor1/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/proveedor1/">
      <xsd:element name="SolicitarPresupuesto">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="nUnidades" type="xsd:int"/>
          	<xsd:element name="refProd" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SolicitarPresupuestoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="valor" type="xsd:float"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OrdenarCompra">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="nUnidades" type="xsd:int"/>
      			<xsd:element name="refProd" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="OrdenarCompraResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="valido" type="xsd:boolean"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarStock">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="nUnidades" type="xsd:int"/>
      			<xsd:element name="refProd" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarStockResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="valido" type="xsd:boolean"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SolicitarPresupuestoRequest">
    <wsdl:part element="tns:SolicitarPresupuesto" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SolicitarPresupuestoResponse">
    <wsdl:part element="tns:SolicitarPresupuestoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="OrdenarCompraRequest">
  	<wsdl:part element="tns:OrdenarCompra" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="OrdenarCompraResponse">
  	<wsdl:part element="tns:OrdenarCompraResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ActualizarStockRequest">
  	<wsdl:part element="tns:ActualizarStock" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ActualizarStockResponse">
  	<wsdl:part element="tns:ActualizarStockResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="proveedor1">
    <wsdl:operation name="SolicitarPresupuesto">
      <wsdl:input message="tns:SolicitarPresupuestoRequest"/>
      <wsdl:output message="tns:SolicitarPresupuestoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="OrdenarCompra">
    	<wsdl:input message="tns:OrdenarCompraRequest"/>
    	<wsdl:output message="tns:OrdenarCompraResponse"/>
    </wsdl:operation>
    <wsdl:operation name="ActualizarStock">
    	<wsdl:input message="tns:ActualizarStockRequest"/>
    	<wsdl:output message="tns:ActualizarStockResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="proveedor1SOAP" type="tns:proveedor1">

  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="SolicitarPresupuesto">

  		<soap:operation soapAction="http://www.example.org/proveedor1/SolicitarPresupuesto"/>
  		<wsdl:input>

  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="OrdenarCompra">

  		<soap:operation soapAction="http://www.example.org/proveedor1/OrdenarCompra"/>
  		<wsdl:input>

  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="ActualizarStock">

  		<soap:operation soapAction="http://www.example.org/proveedor1/ActualizarStock"/>
  		<wsdl:input>

  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="proveedor1">
    <wsdl:port binding="tns:proveedor1SOAP" name="proveedor1SOAP">
      <soap:address location="http://localhost:9080/proveedor1/services/proveedor1SOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
