Practica 2 - BPEL/cliente/clienteP2/clienteP2/Service References/procesoCompra/proveedor3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/proveedor3/" name="proveedor3" targetNamespace="http://www.example.org/proveedor3/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/proveedor3/">
      <xsd:element name="SolicitarPresupuesto">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nUnidades" type="xsd:int" />
            <xsd:element name="refProd" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SolicitarPresupuestoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="precio" type="xsd:float" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OrdenarCompra">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nUnidades" type="xsd:int" />
            <xsd:element name="refProd" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OrdenarCompraResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="valido" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarStock">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nUnidades" type="xsd:int" />
            <xsd:element name="refProd" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarStockResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="valido" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SolicitarPresupuestoRequest">
    <wsdl:part name="parameters" element="tns:SolicitarPresupuesto" />
  </wsdl:message>
  <wsdl:message name="SolicitarPresupuestoResponse">
    <wsdl:part name="parameters" element="tns:SolicitarPresupuestoResponse" />
  </wsdl:message>
  <wsdl:message name="OrdenarCompraRequest">
    <wsdl:part name="parameters" element="tns:OrdenarCompra" />
  </wsdl:message>
  <wsdl:message name="OrdenarCompraResponse">
    <wsdl:part name="parameters" element="tns:OrdenarCompraResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarStockRequest">
    <wsdl:part name="parameters" element="tns:ActualizarStock" />
  </wsdl:message>
  <wsdl:message name="ActualizarStockResponse">
    <wsdl:part name="parameters" element="tns:ActualizarStockResponse" />
  </wsdl:message>
  <wsdl:portType name="proveedor3">
    <wsdl:operation name="SolicitarPresupuesto">
      <wsdl:input message="tns:SolicitarPresupuestoRequest" />
      <wsdl:output message="tns:SolicitarPresupuestoResponse" />
    </wsdl:operation>
    <wsdl:operation name="OrdenarCompra">
      <wsdl:input message="tns:OrdenarCompraRequest" />
      <wsdl:output message="tns:OrdenarCompraResponse" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarStock">
      <wsdl:input message="tns:ActualizarStockRequest" />
      <wsdl:output message="tns:ActualizarStockResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="proveedor3SOAP" type="tns:proveedor3">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SolicitarPresupuesto">
      <soap:operation soapAction="http://www.example.org/proveedor3/SolicitarPresupuesto" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrdenarCompra">
      <soap:operation soapAction="http://www.example.org/proveedor3/OrdenarCompra" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarStock">
      <soap:operation soapAction="http://www.example.org/proveedor3/ActualizarStock" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="proveedor3">
    <wsdl:port name="proveedor3SOAP" binding="tns:proveedor3SOAP">
      <soap:address location="http://localhost:9080/proveedor3/services/proveedor3" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>